.guest-layout {
    display: flex;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    background: url('background.jpg') no-repeat center center fixed; /* Path to your background image */
    background-size: cover;
    padding-top: 0rem;
}

.logo-container {
    margin-bottom: 1.5rem;
}

.app-logo {
    max-width: 150px;
    height: auto;
}

.content-container {
    
    width: 200%;
    max-width: 500px;
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 300px;

    padding: 50px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

@media (min-width: 640px) {
    .guest-layout {
        padding-top: 0;
    }

    .content-container {
        margin-top: 1.5rem;
    }
}
.login-container {

}

.login-header {
    font-size: 24px;
    color: #004b8d;
    margin-bottom: 20px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-field {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-field:focus {
    border-color: #0073e6;
    box-shadow: 0 0 5px rgba(0, 115, 230, 0.5);
    outline: none;
}

.error-message {
    margin-top: 5px;
    font-size: 14px;
    color: #e74c3c;
}

.remember-me {
    text-align: left;
    font-size: 24px;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.forgot-password-link {
    color: #0073e6;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.forgot-password-link:hover {
    color: #005bb5;
}

.login-button {
    background-color: #0073e6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-button:hover {
    background-color: #005bb5;
    transform: translateY(-2px);
}

.login-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.back-link {
    margin-top: 10px;
    text-align: center;
}

.text-link {
    color: #0073e6;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.text-link:hover {
    color: #005bb5;
}
