.login-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    top: 0px;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-header {
    font-size: 1.4em;
    color: #004b8d;
    margin-bottom: 20px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-field {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1.4em;
    margin-top: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-field:focus {
    border-color: #0073e6;
    box-shadow: 0 0 5px rgba(0, 115, 230, 0.5);
    outline: none;
}

.error-message {
    margin-top: 5px;
    font-size: 1.4em;
    color: #e74c3c;
}

.remember-me {
    text-align: left;
    font-size: 1.4em;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.forgot-password-link {
    color: #0073e6;
    text-decoration: none;
    font-size: 1.4em;
    transition: color 0.3s ease;
}

.forgot-password-link:hover {
    color: #005bb5;
}

.login-button {
    background-color: #0073e6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-button:hover {
    background-color: #005bb5;
    transform: translateY(-2px);
}

.login-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.back-link {
    margin-top: 10px;
    text-align: center;
}

.text-link {
    color: #0073e6;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
    transition: color 0.3s ease;
}

.text-link:hover {
    color: #005bb5;
}
h2{
    font-size: 1.4em;
}